<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.web');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5">
        <h1 class=""><u>Welcome to NG Basic. </u></h1>
        <h2 class="fst-italic text-muted">
          You can Create, Read, Update and Delete User details.
        </h2>
        <img
          src="../../assets/images/mtcamp.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</div>

Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
